.sign-up {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sign-up .div {
  background-color: #ffffff;
  height: 2078.5px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.sign-up .footer {
  background-color: transparent;
  height: 156px;
  left: 62px;
  position: absolute;
  top: 1878px;
  width: 1802px;
}

.sign-up .copyright-text {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 25px;
  font-weight: 500;
  height: 30px;
  left: 816px;
  letter-spacing: -0.38px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 126px;
  white-space: nowrap;
}

.sign-up .facebook-icon {
  height: 48px;
  left: 793px;
  position: absolute;
  top: 56px;
  width: 48px;
}

.sign-up .instagram-icon {
  height: 49px;
  left: 876px;
  position: absolute;
  top: 54px;
  width: 50px;
}

.sign-up .twitter-icon {
  height: 49px;
  left: 958px;
  position: absolute;
  top: 54px;
  width: 50px;
}

.sign-up .footer-divivder {
  height: 2px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 1800px;
}

.sign-up .content {
  height: 1361px;
  left: 648px;
  position: absolute;
  top: 332px;
  width: 629px;
  display: flex;
}

.sign-up .text-wrapper {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 30px;
  font-weight: 400;
  height: 49px;
  left: 53px;
  letter-spacing: -0.45px;
  line-height: 66.5px;
  position: absolute;
  text-align: center;
  top: 1312px;
  white-space: nowrap;
  width: 511px;
}

.sign-up .overlap-group-wrapper {
  height: 69px;
  left: 3px;
  position: absolute;
  top: 1221px;
  width: 623px;
}

.sign-up .overlap-group {
  background-color: #f7a8b5;
  border-radius: 16px;
  height: 69px;
  position: relative;
  width: 621px;
}

.sign-up .sign-up-text {
  color: #ffffff;
  font-family: "Lato", Helvetica;
  font-size: 30px;
  font-weight: 800;
  height: 49px;
  left: 244px;
  letter-spacing: -0.45px;
  line-height: 66.5px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
  width: 134px;
}

.sign-up .image {
  height: 69px;
  left: 2px;
  position: absolute;
  top: 1130px;
  width: 623px;
}

.sign-up .overlap {
  background-color: #ffffff;
  border: 0.5px solid;
  border-color: #000000;
  border-radius: 16px;
  height: 69px;
  position: relative;
  width: 621px;
}

.sign-up .upload {
  height: 37px;
  left: 564px;
  position: absolute;
  top: 15px;
  width: 37px;
}

.sign-up .p {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 25px;
  font-weight: 600;
  height: 48px;
  left: 34px;
  letter-spacing: -0.38px;
  line-height: 66.5px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 476px;
}

.sign-up .voice {
  height: 69px;
  left: 3px;
  position: absolute;
  top: 1038px;
  width: 623px;
}

.sign-up .microphone {
  height: 37px;
  left: 519px;
  position: absolute;
  top: 15px;
  width: 37px;
}

.sign-up .confirm-password {
  height: 69px;
  left: 3px;
  position: absolute;
  top: 947px;
  width: 623px;
}

.sign-up .confirm-password-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 25px;
  font-weight: 600;
  height: 48px;
  left: 34px;
  letter-spacing: -0.38px;
  line-height: 66.5px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 256px;
}

.sign-up .password {
  height: 69px;
  left: 3px;
  position: absolute;
  top: 856px;
  width: 623px;
}

.sign-up .text-wrapper-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 25px;
  font-weight: 600;
  height: 48px;
  left: 34px;
  letter-spacing: -0.38px;
  line-height: 66.5px;
  position: absolute;
  top: 9px;
  white-space: nowrap;
  width: 206px;
}

.sign-up .additional {
  height: 221px;
  left: 0;
  position: absolute;
  top: 611px;
  width: 623px;
}

.sign-up .div-wrapper {
  background-color: #ffffff;
  border: 0.5px solid;
  border-color: #000000;
  border-radius: 16px;
  height: 221px;
  position: relative;
  width: 621px;
}

.sign-up .additional-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 25px;
  font-weight: 400;
  height: 49px;
  left: 38px;
  letter-spacing: -0.38px;
  line-height: 66.5px;
  position: absolute;
  top: 86px;
  white-space: nowrap;
  width: 328px;
}

.sign-up .relationship {
  height: 221px;
  left: 4px;
  position: absolute;
  top: 367px;
  width: 623px;
}

.sign-up .relationship-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 25px;
  font-weight: 600;
  height: 48px;
  left: 31px;
  letter-spacing: -0.38px;
  line-height: 66.5px;
  position: absolute;
  top: 86px;
  white-space: nowrap;
  width: 398px;
}

.sign-up .avatar-name {
  height: 69px;
  left: 3px;
  position: absolute;
  top: 276px;
  width: 623px;
}

.sign-up .username {
  height: 69px;
  left: 3px;
  position: absolute;
  top: 185px;
  width: 623px;
}

.sign-up .username-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 25px;
  font-weight: 600;
  height: 49px;
  left: 34px;
  letter-spacing: -0.38px;
  line-height: 66.5px;
  position: absolute;
  top: 9px;
  white-space: nowrap;
  width: 146px;
}

.sign-up .email {
  height: 69px;
  left: 3px;
  position: absolute;
  top: 93px;
  width: 623px;
}

.sign-up .text-field-wrapper {
  background-color: #ffffff;
  border: 0.5px solid;
  border-color: #000000;
  border-radius: 16px;
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 25px;
  font-weight: 600;
  height: 48px min;
  letter-spacing: -0.38px;
  line-height: 66.5px;
  padding: 0;
  padding-left: 34px;
  position: relative;
  white-space: nowrap;
  width: 621px;
}

.sign-up .text-wrapper-3 {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 50px;
  font-weight: 700;
  height: 49px;
  left: 3px;
  letter-spacing: -0.75px;
  line-height: 66.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 206px;
}

.sign-up .header {
  background-color: transparent;
  height: 148px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 1922px;
}

.sign-up .overlap-2 {
  background-color: #ffffff;
  height: 148px;
  position: relative;
  width: 1920px;
}

.sign-up .upper-divider {
  height: 2px;
  left: 60px;
  position: absolute;
  top: 145px;
  width: 1800px;
}

.sign-up .familiar-logo {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 65px;
  font-weight: 900;
  left: 60px;
  letter-spacing: 0;
  line-height: 66.5px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
  width: 309px;
}

.sign-up .nav-buttons {
  height: 68px;
  left: 1289px;
  position: absolute;
  top: 52px;
  width: 577px;
}

.sign-up .login-selection {
  height: 67px;
  left: 450px;
  position: absolute;
  top: 0;
  width: 123px;
}

.sign-up .overlap-group-2 {
  height: 67px;
  position: relative;
  width: 121px;
}

.sign-up .login-button {
  background-color: #f7a8b5;
  border-radius: 11px;
  box-shadow: 0px 2.5px 5px 2px #00000040;
  height: 50px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 121px;
}

.sign-up .text-wrapper-4 {
  color: #ffffffd9;
  font-family: "Lato", Helvetica;
  font-size: 25px;
  font-weight: 900;
  left: 29px;
  letter-spacing: 0.38px;
  line-height: 66.5px;
  position: absolute;
  top: 0;
  width: 82px;
}

.sign-up .text-wrapper-5 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 291px;
  letter-spacing: 0.38px;
  line-height: 66.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 104px;
}

.sign-up .text-wrapper-6 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 146px;
  letter-spacing: 0.38px;
  line-height: 66.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 121px;
}

.sign-up .text-wrapper-7 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0.38px;
  line-height: 66.5px;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 121px;
}










/* .login {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.login .div {
    background-color: #ffffff;
    height: 1080px;
    overflow: hidden;
    position: relative;
    width: 1920px;
}

.login .footer {
    background-color: transparent;
    height: 156px;
    left: 62px;
    position: absolute;
    top: 880px;
    width: 1802px;
}

.login .copyright-text {
    color: #000000;
    font-family: "Lato", Helvetica;
    font-size: 25px;
    font-weight: 500;
    height: 30px;
    left: 816px;
    letter-spacing: -0.38px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 126px;
    white-space: nowrap;
}

.login .facebook-icon {
    height: 48px;
    left: 793px;
    position: absolute;
    top: 56px;
    width: 48px;
}

.login .instagram-icon {
    height: 49px;
    left: 876px;
    position: absolute;
    top: 54px;
    width: 50px;
}

.login .twitter-icon {
    height: 49px;
    left: 958px;
    position: absolute;
    top: 54px;
    width: 50px;
}

.login .footer-divivder {
    height: 2px;
    left: 0;
    position: absolute;
    top: -2px;
    width: 1800px;
}

.login .content {
    height: 375px;
    left: 688px;
    position: absolute;
    top: 326px;
    width: 506px;
}

.login .text-wrapper {
    color: #000000;
    font-family: "Lato", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 44px;
    left: 244px;
    letter-spacing: -0.38px;
    line-height: 66.5px;
    position: absolute;
    text-align: right;
    top: 332px;
    white-space: nowrap;
    width: 253px;
}

.login .text-wrapper-2 {
    color: #000000;
    font-family: "Lato", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 44px;
    left: 2px;
    letter-spacing: -0.38px;
    line-height: 66.5px;
    position: absolute;
    top: 332px;
    white-space: nowrap;
    width: 234px;
}

.login .sign-in {
    height: 61px;
    left: 2px;
    position: absolute;
    top: 250px;
    width: 500px;
}

.login .overlap-group {
    background-color: #f7a8b5;
    border-radius: 16px;
    height: 61px;
    position: relative;
    width: 498px;
}

.login .sign-in-text {
    color: #ffffff;
    font-family: "Lato", Helvetica;
    font-size: 35px;
    font-weight: 800;
    height: 43px;
    left: 195px;
    letter-spacing: -0.53px;
    line-height: 66.5px;
    position: absolute;
    text-align: center;
    top: 9px;
    white-space: nowrap;
    width: 107px;
}

.login .password {
    height: 61px;
    left: 0;
    position: absolute;
    top: 169px;
    width: 500px;
}

.login .overlap {
    background-color: #ffffff;
    border: 0.5px solid;
    border-color: #000000;
    border-radius: 16px;
    height: 61px;
    position: relative;
    width: 498px;
}

.login .text-wrapper-3 {
    color: #000000;
    font-family: "Lato", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 44px;
    left: 28px;
    letter-spacing: -0.38px;
    line-height: 66.5px;
    position: absolute;
    top: 8px;
    white-space: nowrap;
    width: 148px;
}

.login .email {
    height: 61px;
    left: 0;
    position: absolute;
    top: 88px;
    width: 500px;
}

.login .text-wrapper-4 {
    color: #000000;
    font-family: "Lato", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 43px;
    left: 28px;
    letter-spacing: -0.38px;
    line-height: 66.5px;
    position: absolute;
    top: 8px;
    white-space: nowrap;
    width: 121px;
}

.login .text-wrapper-5 {
    color: #000000;
    font-family: "Montserrat", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 0;
    letter-spacing: -0.75px;
    line-height: 66.5px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 184px;
}

.login .header {
    background-color: transparent;
    height: 148px;
    left: 2px;
    position: absolute;
    top: 0;
    width: 1922px;
}

.login .overlap-2 {
    background-color: #ffffff;
    height: 148px;
    position: relative;
    width: 1920px;
}

.login .upper-divider {
    height: 2px;
    left: 60px;
    position: absolute;
    top: 145px;
    width: 1800px;
}

.login .familiar-logo {
    color: #000000;
    font-family: "Montserrat", Helvetica;
    font-size: 65px;
    font-weight: 900;
    left: 60px;
    letter-spacing: 0;
    line-height: 66.5px;
    position: absolute;
    top: 50px;
    white-space: nowrap;
    width: 309px;
}

.login .nav-buttons {
    height: 68px;
    left: 1289px;
    position: absolute;
    top: 52px;
    width: 577px;
}

.login .login-selection {
    height: 67px;
    left: 450px;
    position: absolute;
    top: 0;
    width: 123px;
}

.login .overlap-group-2 {
    height: 67px;
    position: relative;
    width: 121px;
}

.login .login-button {
    background-color: #f7a8b5;
    border-radius: 11px;
    box-shadow: 0px 2.5px 5px 2px #00000040;
    height: 50px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 121px;
}

.login .text-wrapper-6 {
    color: #ffffffd9;
    font-family: "Lato", Helvetica;
    font-size: 25px;
    font-weight: 900;
    left: 29px;
    letter-spacing: 0.38px;
    line-height: 66.5px;
    position: absolute;
    top: 0;
    width: 82px;
}

.login .text-wrapper-7 {
    color: #000000;
    font-family: "Lato", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 291px;
    letter-spacing: 0.38px;
    line-height: 66.5px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 104px;
}

.login .text-wrapper-8 {
    color: #000000;
    font-family: "Lato", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 146px;
    letter-spacing: 0.38px;
    line-height: 66.5px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 121px;
}

.login .text-wrapper-9 {
    color: #000000;
    font-family: "Lato", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0.38px;
    line-height: 66.5px;
    position: absolute;
    text-align: center;
    top: 2px;
    width: 121px;
} */