.home {
  background-color: #fffdfc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div {
  background-color: #fffdfc;
  height: 2160px;
  position: relative;
  width: 3840px;
}

.home .overlap {
  height: 1360px;
  left: 120px;
  position: absolute;
  top: 65px;
  width: 3602px;
}

.home .text-wrapper {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 40px;
  font-weight: 800;
  left: 541px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 122px;
}

.home .text-wrapper-2 {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 40px;
  font-weight: 800;
  left: 279px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 154px;
}

.home .text-wrapper-3 {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 40px;
  font-weight: 800;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 171px;
}

.home .main-box {
  height: 1228px;
  left: 0;
  position: absolute;
  top: 132px;
  width: 3600px;
}

.home .line {
  height: 2px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 3600px;
}

.home .img {
  height: 2px;
  left: 0;
  position: absolute;
  top: 1226px;
  width: 3600px;
}

.home .a-push-towards-a {
  -webkit-text-stroke: 1px #000000;
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 190px;
  font-weight: 400;
  left: 96px;
  letter-spacing: 0;
  line-height: 170px;
  position: absolute;
  top: 357px;
  width: 1836px;
}

.home .CTA {
  height: 143px;
  left: 2673px;
  position: absolute;
  top: 1066px;
  width: 713px;
}

.home .contact-button {
  height: 143px;
  left: 0;
  position: absolute;
  top: 0;
  width: 339px;
}

.home .overlap-group {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #000000;
  border-radius: 60px;
  height: 143px;
  position: relative;
  width: 337px;
}

.home .contact {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 48px;
  font-weight: 500;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 40px;
  white-space: nowrap;
  width: 237px;
}

.home .chat-button {
  height: 143px;
  left: 376px;
  position: absolute;
  top: 0;
  width: 339px;
}

.home .chat-wrapper {
  background-color: #f6b7c2;
  border-radius: 60px;
  height: 143px;
  position: relative;
  width: 337px;
}

.home .chat {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 48px;
  font-weight: 500;
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 42px;
  white-space: nowrap;
  width: 145px;
}

.home .familiar {
  height: 699px;
  left: 2677px;
  object-fit: cover;
  position: absolute;
  top: 310px;
  width: 709px;
}

.home .feature {
  height: 601px;
  left: 2560px;
  position: absolute;
  top: 1487px;
  width: 1182px;
}

.home .overlap-group-2 {
  height: 510px;
  left: 0;
  position: absolute;
  top: 91px;
  width: 1180px;
}

.home .feature-BG {
  background-color: #f6b7c2;
  height: 380px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1180px;
}

.home .feature-diagram {
  height: 406px;
  left: 453px;
  position: absolute;
  top: 104px;
  width: 274px;
}

.home .feature-UR-stuff {
  height: 30px;
  left: 944px;
  position: absolute;
  top: 17px;
  width: 236px;
}

.home .feature-text {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.home .feature-2 {
  height: 544px;
  left: 1330px;
  position: absolute;
  top: 1487px;
  width: 1182px;
}

.home .overlap-2 {
  height: 451px;
  left: 0;
  position: absolute;
  top: 93px;
  width: 1180px;
}

.home .feature-diagram-2 {
  height: 291px;
  left: 308px;
  position: absolute;
  top: 160px;
  width: 474px;
}

.home .feature-text-2 {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.home .feature-3 {
  height: 588px;
  left: 100px;
  position: absolute;
  top: 1487px;
  width: 1182px;
}

.home .overlap-3 {
  height: 495px;
  left: 0;
  position: absolute;
  top: 93px;
  width: 1180px;
}

.home .feature-diagram-3 {
  height: 380px;
  left: 216px;
  position: absolute;
  top: 115px;
  width: 718px;
}